{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <h2>Proceso Finalizado</h2>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="container-fluid d-flex justify-content-center">
        <div class="col mt-5 d-flex justify-content-around">
            <h1>Tu archivo se generó correctamente</h1>
        </div>
        <div class="col mt-5 d-flex justify-content-around">
            <button><a href="{% url 'export_csv' %}">Descargar archivo csv</a></button>
        </div>
    </div>


{% endblock %}
