{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid d-flex justify-content-center">
        <div class="row mt-5">
            <div class="col-sm-4">
                <div class="card"> <img src="https://firebasestorage.googleapis.com/v0/b/instagram-debf6.appspot.com/o/EHM2014.png?alt=media&token=51e3bba4-5172-4434-bc5a-1b2b3c3ddc8a" class="card-img-top" width="50%">
                    <div class="card-body pt-0 px-0">
                        <br>
                        <div class="d-flex flex-row justify-content-center mb-0">
                            <h5 class="mt-1">Xtractor EHM 2014</h5>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-center px-3 pb-4">
                            <div class="d-flex flex-column">
                                <label class="text-muted">Utiliza este Xtractor para obtener las tablas de las Estadísticas Históricas de México de 2014 en formato csv.</label>
                            </div>
                        </div>
                        <div class="mx-3 mt-3 mb-2"><a class="btn btn-danger btn-block" style="text-decoration: none;" href="/books/upload/"><small>Comenzar Extracción</small></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card"> <img src="https://firebasestorage.googleapis.com/v0/b/instagram-debf6.appspot.com/o/EHM1970.png?alt=media&token=2bd8c376-42eb-4c8f-a1c3-6569b59d00f9" class="card-img-top" width="50%">
                    <div class="card-body pt-0 px-0">
                        <br>
                        <div class="d-flex flex-row justify-content-center mb-0">
                            <h5 class="mt-1">Xtractor EHM 1970</h5>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-center px-3 pb-4">
                            <div class="d-flex flex-column">
                                <label class="text-muted">Utiliza este Xtractor para obtener las tablas de las Estadísticas Históricas de México de 1970 y años previos en formato csv.</label>
                            </div>
                        </div>
                        <div class="mx-3 mt-3 mb-2"><a class="btn btn-danger btn-block" style="text-decoration: none;" href=""><small>Comenzar Extracción</small></a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card"> <img src="https://firebasestorage.googleapis.com/v0/b/instagram-debf6.appspot.com/o/TABLAS.png?alt=media&token=59acf7d2-b457-4fd2-8b61-612ba379dc93" class="card-img-top" width="50%">
                    <div class="card-body pt-0 px-0">
                        <br>
                        <div class="d-flex flex-row justify-content-center mb-0">
                            <h5 class="mt-1">Xtractor Genérico</h5>
                        </div>
                        <hr class="mt-2 mx-3">
                        <div class="d-flex flex-row justify-content-center px-3 pb-4">
                            <div class="d-flex flex-column">
                                <label class="text-muted">Utiliza este Xtractor para convertir tus tablas en archivos csv.</label>
                                <label class="text-muted"></label>
                                <label class="text-muted"></label>
                                <label class="text-muted"></label>
                            </div>
                        </div>
                        <div class="mx-3 mt-3 mb-2"><a class="btn btn-danger btn-block" style="text-decoration: none;" href=""><small>Comenzar Extracción</small></a></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


{% endblock %}